<div class="container">
  <div class="row"> 
    <div class="col-md-6 thumbnail"> 
      <img alt="Me" src="/assets/me-50056699c4a6e91e21a81298d9954d18.jpg" /> </div> 
    <div class="col-md-6"> <h2>Hello. My name is <span class="highlight">Yumio Saneyoshi</span></h2> <p>I was born in 1975 in London and raised in Newcastle and Northumberland before moving to Macclesfield at 10. Dropped out and worked around from 16 on.</p> <p>Since 2001, I've been pursuing my passion, building websites and developing my creativity.</p> </div> </div> </div> </div>