<body>
  

<div class="my-slider">
	<ul>
		<li><img  src="https://dl.dropboxusercontent.com/u/61233574/afterschoolio.png"></li>
		<li><img src="https://dl.dropboxusercontent.com/u/61233574/gorillaanalytics.png"</li>
		<li><img src="https://dl.dropboxusercontent.com/u/61233574/yumiodotnet.png"</li>
	</ul>
</div>

<div class="container"> <div class="row"> <a class="col-md-6 project" href="#"> <div class="thumbnail-header"> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> </div> <div class="thumbnail"> <img alt="Project01" src="/assets/project01-0ff155425c5a026839c43ae7c5089f1e.jpg" /> </div> <h3>TravelGos Booking App</h3> <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p> </a> <a class="col-md-6 project" href="#"> <div class="thumbnail-header"> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> </div> <div class="thumbnail"> <img alt="Project02" src="/assets/project02-ba5afb4eb817317b6be7ba2948be9fe3.jpg" /> </div> <h3>Breathers Reservation Site</h3> <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p> </a> </div> <div class="row"> <a class="col-md-6 project" href="#"> <div class="thumbnail-header"> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div> </div> <div class="thumbnail"> <img alt="Project03" src="/assets/project03-f820dd50db97b4bef375e7645466b30e.jpg" /> </div>
  
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/assets/javascripts/unslider.js"></script> 

	<script>	jQuery(document).ready(function($) {
			$('.my-slider').unslider();
		});
	</script>
  
</body>