
  
      <div class="name col-xs-4">
        <h1>Yumio Saneyoshi</h1> 
      </div> 
    </div>
  </div> 
 </div>
<div class="main home"> 
  <div class="jumbotron"> 
    <div class="container"> 
      <h2>Hello. My name is <span class="highlight">Yumio Saneyoshi</span> and I have creative ideas and build websites</h2>
      <a class="btn left" <%= link_to "View my Stuff", portfolio_path %> </a>
     <!-- <a class="btn right" href="portfolio">View my Work</a> -->
    </div> 
  </div> 
 </div> 


